<!DOCTYPE html>
<html>
<head>

<title>
Political ID Test
</title>

<style>
body
{
background-image: url(http://fatelessmusic.com/deandebenedictis/sound/05/american-flag-wallpaper-hd-725.jpg);
background-attachment: fixed;
background-position: center;
}

table
{
width: 960px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
padding: 20px;
text-align: center;
box-shadow: 0px 0px 20px;
border-radius: 15px;
background: white;
}

td
{
padding-top: 3px;
padding-bottom: 3px;
}

fieldset{
	border: 0;
	margin: 0 0;
}
</style>

</head>
<body>

<form method="post" action="./submit"><!--1-->

<fieldset>
<table>
<tr>
<td colspan="5"><strong>As a means to balance the budget, the government should decrease spending rather than increase taxes.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset>


<fieldset><!--2-->
<table>
<tr>
<td colspan="5"><strong>The government should abolish tariffs and other restrictions on international trade.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--3-->
<table>
<tr>
<td colspan="5"><strong>The government should require employers to provide health care insurance for their employees or provide it through government agencies.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset>


<fieldset><!--4-->
<table>
<tr>
<td colspan="5"><strong>The government should mandate arbitration between labor and management if a strike extends beyond 60 days.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--5-->
<table>
<tr>
<td colspan="5"><strong>Government should abolish subsidies for specific industries.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--6-->
<table>
<tr>
<td colspan="5"><strong>The government should use public revenues to provide housing for those unable to afford it.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--7-->
<table>
<tr>
<td colspan="5"><strong>Government should actively attempt to bail out failing major U.S. industries.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--8-->
<table>
<tr>
<td colspan="5"><strong>Government should require Affirmative Action programs in industries with racial or minority imbalances.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--9-->
<table>
<tr>
<td colspan="5"><strong>Government should sell off its assets or allow competition against corporations such as the post office.
</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--10-->
<table>
<tr>
<td colspan="5"><strong>Minimum wage laws should be abolished.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--1-->
<table>
<tr>
<td colspan="5"><strong>Government should not interfere with any sexual activities between consenting adults.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--2-->
<table>
<tr>
<td colspan="5"><strong>Marijuana should be legalized.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--3-->
<table>
<tr>
<td colspan="5"><strong>Government should initiate a mandatory national service program for young people.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--4-->
<table>
<tr>
<td colspan="5"><strong>Government should prevent the admission of homosexuals into the military.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--5-->
<table>
<tr>
<td colspan="5"><strong>Government should maintain open immigration and emigration policies.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--6-->
<table>
<tr>
<td colspan="5"><strong>Government should prohibit persons from passing out literature of an ideological or cultural perspective abhorrent to that specific community.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--7-->
<table>
<tr>
<td colspan="5"><strong>Government should control the choices available concerning the abortion of a fetus.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--8-->
<table>
<tr>
<td colspan="5"><strong>Government should perform mandatory AIDS testing on persons considered in high risk circumstances.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--9-->
<table>
<tr>
<td colspan="5"><strong>Confessions made to crimes without the reading of one's Constitutional rights should be excluded as evidence in a criminal trial.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--10-->
<table>
<tr>
<td colspan="5"><strong>Police should be required to obtain a specifically defined warrant before searching one's house or property.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--1-->
<table>
<tr>
<td colspan="5"><strong>The government should lessen its commitment to NATO.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--2-->
<table>
<tr>
<td colspan="5"><strong>The government should withdraw its membership from the United Nations.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--3-->
<table>
<tr>
<td colspan="5"><strong>The government should maintain its military presence in Korea.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--4-->
<table>
<tr>
<td colspan="5"><strong>The government should aid Bosnian rebels with military supplies against the Serbs.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--5-->
<table>
<tr>
<td colspan="5"><strong>The responsibility of funding Japanese defense should be returned to Japan.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--6-->
<table>
<tr>
<td colspan="5"><strong>The government should destabilize anti-American governments in less developed nations through support of rebel organizations.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--7-->
<table>
<tr>
<td colspan="5"><strong>The government should actively involve itself in the Middle East peace negotiations.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--8-->
<table>
<tr>
<td colspan="5"><strong>The government should take an active role in forcing reform in the former Soviet Union.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--9-->
<table>
<tr>
<td colspan="5"><strong>The government should avoid the use of covert operations internationally.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset> 


<fieldset><!--10-->
<table>
<tr>
<td colspan="5"><strong>The government should have avoided involvement in Haiti.</strong></td>
</tr>
<tr>
<td><input type="radio" name="response" value="stronglyDisagree" /></td>
<td><input type="radio" name="response" value="disagree" /></td>
<td><input type="radio" name="response" value="indifferent" /></td>
<td><input type="radio" name="response" value="agree" /></td>
<td><input type="radio" name="response" value="stronglyAgree" /></td>
</tr>
<tr>
<td>Strongly Disagree</td>
<td>Disagree</td>
<td>Indifferent</td>
<td>Agree</td>
<td>Strongly Agree</td>
</tr>
</table>
</fieldset>


<fieldset>
<table>
<tr>
<td colspan="5"><input type="submit" value="Submit" /></td>
</tr>
</table>
</fieldset> 
</form>

</body>
</html>