body
{
background: -webkit-radial-gradient(circle, white, #F0F0F0);
}

p
{
margin: 0;
font-size: 14px;
font-weight: bold;
font-family: 'Quicksand', sans-serif;
}

.question
{
font-size: 22px;
font-family: 'Cinzel', serif;
text-shadow: 1px 1px 5px grey;
}

/*.info
{
vertical-align: bottom;
}*/

.info a
{
padding: 3px 5px 5px 8px;
border-radius: 9px;
box-shadow: 0px 0px 10px grey inset;
}

.info a:active
{
color: black;
text-shadow: 0px 2px 10px grey;
box-shadow: 0px 2px 10px grey inset;
}

a
{
text-decoration: none;
color: black;
font-family: 'Quicksand', sans-serif;
}

#next a:hover, #last a:hover
{
text-shadow: 1px 1px 5px black;
}

a:active
{
color: grey;
text-shadow: 1px 1px 5px grey;
}

#last, #next
{
font-size: 24px;
position: fixed;
top: 20%;
}

#last
{
left: 10%;
}

#next
{
right: 10%;
}

.main
{
width: 800px;
text-align: center;
position: fixed;
bottom: 50%;
left: 50%;
margin-left: -400px;
margin-bottom: -40px;
}

.main td
{
width: 6em;
}

#progress
{
width: 303px;
text-align: center;
position: fixed;
top: 100%;
right: 100%;
margin-right: -313px;
margin-top: -54px;
}

#progress td
{
width: 101px;
}

#rate
{
width: 202px;
text-align: center;
position: fixed;
top: 100%;
left: 100%;
margin-top: -54px;
margin-left: -212px;
}

#rate td
{
width: 101px;
}

#like:hover
{
color: green;
}

#dislike:hover
{
color: red;
}

#rate a:hover
{
text-shadow: 1px 1px 1px grey;
}

#discussion
{
width: 960px;
margin: auto;
}

.opposed, .infavor
{
width: 470px;
height: 480px;
float: left;
overflow: auto;
}

.opposed p, .infavor p
{
text-indent: 3em;
}

.opposed
{
padding-right: 10px;
}

.infavor
{
padding-left: 10px;
}
