@import "bootstrap";

/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.change_question_form {
	width:100%;
}

.change_question_form textarea {
	height: 40px;
  margin-top: 15px;
  width: 100%;
}

.change_question_form label {
	display:inline;
}

.change_question_form .radio_wrap {
	margin: 10px 5px;
}

.submit_question {
  display:block;
  margin: 35% auto;
}